## CMSC 35300 Final Project

In [1]:
import numpy as np
from scipy.sparse import csc_matrix
from pandas import read_csv

In [23]:
k = 10
lambd = 4


def get_rating(df, userId, movieId):
    return df.loc[(df['userId']==userId) & (df['movieId']==movieId)]['rating'].iloc[0]

In [26]:
df = read_csv('ml-25m/ratings.csv')
df = df.drop('timestamp', axis=1)
df.loc[:,'rating'] *= 2
df = df.astype(int)

max_userId = df.max().loc['userId']
max_movieId = df.max().loc['movieId']

In [ ]:
# # create rating matrix R --> actually not needed
# R = np.zeros((max_user_id, max_movie_id))  # R = ratings: rows = userId, cols = movieId
# for row in df.itertuples():
#     array[row.userId-1, row.movieId-1] = row.rating  # Note: userId - 1 and movie_Id - 1 is used in the code

In [ ]:
# omega = df.iloc[:,0:2].to_numpy()  # each rows consists of (userId, movieId) pairs

In [29]:
userId_to_movieId_list = {}
for row in df.itertuples():
    if row.userId not in userId_to_movieId_list.keys():
        userId_to_movieId_list[row.userId]=[row.movieId]
    else:
        userId_to_movieId_list[row.userId].append(row.movieId)

movieId_to_userId_list = {}
for row in df.itertuples():
    if row.movieId not in movieId_to_userId_list.keys():
        movieId_to_userId_list[row.movieId]=[row.userId]
    else:
        movieId_to_userId_list[row.movieId].append(row.userId)

In [27]:
X = np.random.uniform(0,10,(k, max_userId))
Y = np.random.uniform(0,10,(k, max_movieId))
X1 = np.zeros(k,max_userId)
Y2 = np.zeros(k,max_movieId)

In [ ]:
# while True
#     if np.norm(X1-X)<1e-10 and np.norm(Y1-Y)<1e-10:
#         break
for i in range(max_userId):
    X1[:,i:i+1] = np.linalg.inv()

array([[  1, 296],
       [  1, 306],
       [  1, 307]])

8

   userId  movieId  rating
0       1      296      10
1       1      306       7
2       1      307      10
3       1      665      10
4       1      899       7
5       1     1088       8
6       1     1175       7
7       1     1217       7
8       1     1237      10
9       1     1250       8